

.App {
  text-align: center;
  
}
body {
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* App.css */
.long-image {
  width: 100%; /* Increase the width of the image */
  height: auto; /* Maintain aspect ratio */
  max-width: none; /* Override any max-width restrictions */
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Default (Desktop) */
#zoom-in h2 {
  font-size: 8rem;
  position: relative; /* Add relative positioning for custom left/right adjustments */
}

/* Tablet and smaller screens */
@media (max-width: 1024px) {
  #zoom-in h2 {
    font-size: 6rem;
  }
}

/* Mobile screens */
@media (max-width: 768px) {
  #zoom-in h2 {
    font-size: 1rem;
    left: 0%;  /* Move the text to the right */
    /* Or use transform to shift the text */
    transform: translateX(20%); /* You can adjust the value here for more or less movement */
  }
}
