.ending-box {
  background-color: #151411;
  width: 100%; /* Full width of the screen */
  height: 30vh; /* 30% of the viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Start content from the top */
  color: white; /* Ensure the heading is white */
  text-align: center;
  padding-top: 20px; /* Add some padding to give space from the top */
  z-index: 12;
}

.ending-box-heading {
  margin-bottom: 20px; /* Reducing the margin to get the heading closer to the image */
  font-size: 30px;
  font-weight: 800;
  color: white; /* Ensure the heading is white */
}

.image-containerlo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -0%; /* Move the image a bit up */
}

.ending-box-image {
  max-width: 50%; /* Adjust image size as needed */
  height: auto;
}
